@charset "UTF-8";
/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed';
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%; }

h1 {
  font-size: 44px; }

/* Cambiar el tamaño a los subtítulos */
h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

p {
  font-size: 20px; }

/* Modifica los links de la página*/
/*  Elimina formato de las listas del nav */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  background-color: #facff1; }

/* PARTIALS */
/* Color con Gradiente HEADER*/
header {
  height: 100%;
  background-color: #FFF5E1; }

.header__index a {
  font-size: 16px; }

.header__index .header__index--intro {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  align-content: flex-end; }
  .header__index .header__index--intro .header__index--intro-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .header__index .header__index--intro .header__index--intro-slogan h1 {
      font-size: 44px;
      font-weight: 700; }
    .header__index .header__index--intro .header__index--intro-slogan p {
      font-size: 20px; }
  .header__index .header__index--intro .header__index--intro-imagen {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width: 50%; }
    .header__index .header__index--intro .header__index--intro-imagen img {
      width: 90%;
      height: 50%; }

.navLogo {
  background-size: 150px 137px;
  width: 150px;
  height: 137px;
  top: 5px;
  left: 7px;
  background-color: transparent; }

/* Modificación a las listas con links */
.listasNav {
  padding: 10px;
  font-size: 1.5em; }

/* Background transparente navbar*/
.dropdownBack {
  background-color: transparent;
  border: transparent;
  padding-left: 2px; }
  .dropdownBack a:hover {
    background-color: #facff1; }

/* Gradiente Footer */
footer {
  background: linear-gradient(360deg, #FDD0E5 9.43%, rgba(245, 240, 240, 0.993) 118.97%);
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 20px; }

/* Grid Footer*/
.gridFooter {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .gridFooter .datosEmpresa {
    /* border: solid black 1px; */
    grid-row: 1 / 4; }
  .gridFooter .datosEmpresa__Uno {
    /* border: solid black 1px; */
    grid-column: 2 / 4; }
  .gridFooter .datosEmpresa__Dos {
    /* border: solid black 1px; */
    grid-column: 2 / 4; }
  .gridFooter .datosEmpresa__Tres {
    /* border: solid black 1px; */
    grid-column: 2 / 4; }
  .gridFooter .logoFb {
    display: flex;
    justify-content: center; }
    .gridFooter .logoFb a img {
      width: 30px;
      height: 30px; }
  .gridFooter .logoWp {
    display: flex;
    justify-content: center; }
    .gridFooter .logoWp a img {
      width: 30px;
      height: 30px; }
  .gridFooter .logoInsta {
    display: flex;
    justify-content: center; }
    .gridFooter .logoInsta a img {
      width: 30px;
      height: 30px; }

/* PAGES */
/* Inicio secciones del Main */
/* Seccion Uno */
.seccionUno {
  margin-top: 20px;
  /* margin-bottom: 25px; */
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 500px;
  width: 90%;
  margin: 0 auto; }
  .seccionUno .seccionUno__imagen {
    display: flex;
    flex-direction: row;
    width: 60%; }
    .seccionUno .seccionUno__imagen img {
      width: 80%;
      height: 80%;
      align-self: center; }
  .seccionUno .seccionUno__descrip {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30%; }

.seccionDos {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 500px;
  width: 90%;
  margin: 0 auto; }
  .seccionDos .seccionDos__descrip {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%; }
  .seccionDos .seccionDos__imagen {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-end; }
    .seccionDos .seccionDos__imagen img {
      width: 80%;
      height: 90%;
      align-self: flex-start;
      justify-self: center; }

/* Seccion Dos (main)*/
.seccionTres {
  margin-bottom: 50px;
  background-color: #FDD0E5;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  margin: 0 auto; }
  .seccionTres .seccionTres__Carousel {
    width: 70%;
    height: 50%;
    display: flex;
    align-self: center;
    justify-self: center; }

/* Seccion Tres (main) - usa GRID*/
.seccionCuatro {
  display: grid;
  margin-bottom: 50px;
  row-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFEED9; }
  .seccionCuatro .seccionTres__Title {
    grid-column: 1 / 3; }

/* Sección Cuatro (Main) - Preguntas Frecuentes */
.seccionCinco {
  margin-bottom: 50px;
  background-color: #FDD0E5;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px; }
  .seccionCinco div {
    background-color: #FDD0E5; }
  .seccionCinco button {
    font-size: 0.8em; }

@media (max-width: 768px) {
  .seccionUno {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0 auto; }
    .seccionUno .seccionUno__tFaciales p {
      font-size: small; }
    .seccionUno .seccionUno__tCorporales p {
      font-size: small; }
  .seccionDos {
    width: 90%;
    margin: 0 auto; }
  .seccionTres {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  footer {
    font-size: smaller; } }

/* Alinea centralmente al link de tratamientos */
.botonTratamientos {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.contacto {
  width: 90%;
  margin: 0 auto;
  font-size: medium; }
  .contacto .contacto__botones {
    margin-top: 10px;
    margin-bottom: 20px; }

.nosotros {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 50px; }

.nosotros__title {
  grid-column: 1 / 4; }

.nosotros__historia {
  grid-row: 2 / 4; }

.nosotros__historia--contenidoHistoria {
  grid-column: 2 / 4;
  grid-row: 2 / 4; }

.nosotros__prof {
  grid-row: 4 / 6; }

.nosotros__prof--Uno {
  grid-column: 2 / 4; }

.nosotros___prof--dos {
  grid-column: 2 / 4; }

.gridTestimonios {
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 40%;
  margin-top: 50px;
  margin-bottom: 50px; }

.videoTestimonio {
  width: auto;
  height: auto; }

.corporales__Uno {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3em; }
  .corporales__Uno .corporales__Uno--imagen {
    display: flex;
    justify-self: center;
    width: 40%;
    background-color: none;
    margin-right: 5%; }
    .corporales__Uno .corporales__Uno--imagen img {
      width: 100%;
      height: 100%; }
  .corporales__Uno .corporales__Uno--descripcion {
    align-self: center;
    justify-self: center;
    width: 40%; }

.corporales__Dos {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  background-color: #FDD0E5;
  align-content: center;
  margin-bottom: 20px;
  font-size: 1.3em; }
  .corporales__Dos .corporales__Dos--imagen {
    display: flex;
    justify-self: flex-end;
    width: 40%;
    margin-right: 5%;
    align-self: center; }
    .corporales__Dos .corporales__Dos--imagen img {
      width: 80%;
      height: 80%;
      justify-self: center; }
  .corporales__Dos .corporales__Dos--descripcion {
    align-self: center;
    justify-self: center;
    width: 40%; }

.corporales__tres {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 1.3em; }
  .corporales__tres .corporales__tres--imagen {
    justify-self: flex-start;
    align-self: center;
    width: 40%; }
    .corporales__tres .corporales__tres--imagen img {
      width: 80%;
      height: 80%; }
  .corporales__tres .corporales__tres--descripcion {
    justify-self: center;
    align-self: center;
    margin-left: 5%;
    width: 40%; }

.faciales__Uno {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3em; }
  .faciales__Uno .faciales__Uno--imagen {
    display: flex;
    justify-self: center;
    width: 40%;
    background-color: none;
    margin-right: 5%; }
    .faciales__Uno .faciales__Uno--imagen img {
      width: 100%;
      height: 100%; }
  .faciales__Uno .faciales__Uno--descripcion {
    align-self: center;
    justify-self: center;
    width: 40%; }

.faciales__Dos {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  background-color: #FDD0E5;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3em; }
  .faciales__Dos .faciales__Dos--imagen {
    display: flex;
    justify-self: center;
    width: 40%;
    background-color: none;
    margin-right: 5%; }
    .faciales__Dos .faciales__Dos--imagen img {
      width: 100%;
      height: 100%; }
  .faciales__Dos .faciales__Dos--descripcion {
    align-self: center;
    justify-self: center;
    width: 40%; }

.faciales__Tres {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.3em; }
  .faciales__Tres .faciales__Tres--imagen {
    display: flex;
    justify-self: center;
    width: 40%;
    background-color: none;
    margin-right: 5%; }
    .faciales__Tres .faciales__Tres--imagen img {
      width: 100%;
      height: 100%; }
  .faciales__Tres .faciales__Tres--descripcion {
    align-self: center;
    justify-self: center;
    width: 40%; }
