// NORMALIZADOR

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans Condensed';
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    // font-size: 44px;
    font-size: 4vw;
    font-weight: 700;
}

/* Cambiar el tamaño a los subtítulos */
h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.5vw;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}


p {
    font-size: 2vw;
}
/* Modifica los links de la página*/

/*  Elimina formato de las listas del nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    background-color: rgb(250, 207, 241);
}
:root {
    --mainBackgroundColor: #FFE8F4;
    --shadowParaImagenes: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadowParaTexto:  6px 6px 4px rgba(185, 11, 167, 0.25);
    --colorFondoBotones: #D952FF;
    --colorBordeBotones: #2F3E48;
    --fondoHoverBotones: #A633B5;
    --bordeHoverBotones: #31347B;

}