/* Color con Gradiente HEADER*/


header {
    // background: linear-gradient(180deg, #FDD0E5 60.64%, rgba(255, 255, 255, 0.938) 100%);
    background-image: url(../images/backImage-4.jpg);
    // mix-blend-mode: normal;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    a {
        font-size: 1.5em;
    }

    .navCorporales {
        background-image: url(../images/backImage-6.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .navFaciales{
        background-image: url(/images/backImage-7.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.navLogo {
    background-size: 150px 137px;
    width: 150px;
    height: 137px;
    top: 5px;
    left: 7px;
    background-color: transparent;
}

/* Modificación a las listas con links */  
.listasNav {
    padding: 10px;
    font-size: 1.5em;
}

/* Background transparente navbar*/
.dropdownBack {
    background-color: transparent;
    border: transparent;
    padding-left: 2px;
    
    a:hover {
        background-color: rgb(250, 207, 241);
    }
}