/* Inicio secciones del Main */

/* Seccion Uno */

.seccionUno {
    margin-top: 20px;
    /* margin-bottom: 25px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 500px;
    width: 90%;
    margin:0 auto;
    // margin-bottom: 20px;
    // margin-top: 20px;
    // border: solid black 1px;

    .seccionUno__imagen {
        display: flex;
        flex-direction: row;
        width: 60%;
        // border: solid black 1px;
        img {
            width: 80%;
            height: 80%;
            align-self: center;
            // border: solid black 1px;
        }
    }

    .seccionUno__descrip {
        display: flex;
        flex-direction: column;
        // border: solid black 1px;
        align-content: center;
        justify-content: center;
        width: 30%;
    }

}

// .linkTratamientos {
//     grid-column: 1 / span 2;
//     font-size: 0.5em;

//     .animacion {
//         transition: 0.5s;
//     }

//     .animacion:hover {
//         transform: scale(2,2);
//     }

// }

.seccionDos {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 500px;
    width: 90%;
    margin:0 auto;
    // border: solid black 1px;

    .seccionDos__descrip {
        display: flex;
        flex-direction: column;
        // border: solid black 1px;
        align-content: center;
        justify-content: center;
        width: 40%;

    }

    .seccionDos__imagen {
        display: flex;
        flex-direction: row;
        width: 60%;
        // border: solid black 1px;
        justify-content: flex-end;
        img {
            width: 80%;
            height: 90%;
            align-self: flex-start;
            justify-self: center;
        }

    }
}
/* Seccion Dos (main)*/
.seccionTres {
    margin-bottom: 50px;
    background-color: #FDD0E5;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin:0 auto;



    .seccionTres__Carousel {

        width: 70%;
        height: 50%;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    // @mixin fotosIndex {
    //     height: 900px;
    //     width: 100%;
    // }
    // @mixin alignContent {
    //     align-content: center
    // }
    // .seccionDos__Carousel--fotos {
    //     @include fotosIndex;
    //     @include alignContent;
    // }

    // .seccionDos__Link {
    //     grid-column: 1 / span 2;
    // }

}

/* Seccion Tres (main) - usa GRID*/
.seccionCuatro {
    display: grid;
    margin-bottom: 50px;
    row-gap: 20px;
    // column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    width: 90%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFEED9;


    .seccionTres__Title {
        // border: solid black 1px;
        grid-column: 1 / 3;
    }
    // .seccionTres__profesionales {
    //     border: solid black 1px;
    // }
    // .seccionTres__Profesionales--datos {
    //     border: solid black 1px;
    // }
    // .seccionTres__Testimonios {
    //     border: solid black 1px;
    // }

    // .seccionTres__Testimonios--datos {
    //     border: solid black 1px;
    // }

}

/* Sección Cuatro (Main) - Preguntas Frecuentes */
.seccionCinco {
    margin-bottom: 50px;
    background-color: #FDD0E5;
    width: 90%;
    margin:0 auto;
    margin-bottom: 20px;

    div {
        background-color: #FDD0E5;
    }

    button {
        font-size: 0.8em;
    }
    // h2{
    //     padding-top: 20px;
    //     padding-bottom: 10px;
    // }

    // .seccionCuatro__respuestas {
    //     text-align: center;
    // }
    // p {
    //     font-size: medium;
    // }
}

@media (max-width: 768px) {
    .seccionUno {

        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        margin:0 auto;
        .seccionUno__tFaciales{
            p {
                font-size: small
            }
        }

        .seccionUno__tCorporales {
            p {
                font-size: small
            }
        }
    }
    .seccionDos {
        width: 90%;
        margin:0 auto;
    }
    .seccionTres {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        margin:0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

        // .seccionTres__Title {
        //    border: solid black 1px;

        // }

        // .seccionTres__profesionales {
        //     border: solid black 1px;
        // }

        // .seccionTres__Profesionales--datos {
        //     border: solid black 1px;
        // }
        // .seccionTres__Testimonios {
        //     border: solid black 1px;
        // }
        
        // .seccionTres__Testimonios--datos {
        //     border: solid black 1px;
        // }
    }

    footer {
        font-size: smaller;
    }
}

/* Alinea centralmente al link de tratamientos */
.botonTratamientos {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
