/* Inicio secciones del Main */

/* Seccion 1 - Intro */

.indexIntro {
    margin-top: 2%;
    .indexIntro__Slogan {
        display: flex;
        flex-direction: column;
        border-right: 5px solid #FA93F0;
        h1 {
            align-self: center;
            justify-self: center;
        }
        p {
            align-self: center;
            justify-self: center;
        }
    }
    .indexIntro__Imagen {
        display: flex;
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
    }
}

// Sección 2 - Tratamientos Corporales

.indexSeccion2 {
    margin-top: 2%;
    .indexSeccion2__imagen {
        display: flex;
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
    }
    .indexSeccion2__descrip {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        h2 {
            align-self: center;
            justify-self: center;
        }
        p {
            align-self: center;
            justify-self: center;
        }
    }
}

// Sección 3 - Tratamientos Faciales
.indexSeccion3 {
    margin-top: 2%;
    .indexSeccion3__descrip {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            align-self: center;
            justify-self: center;
        }
        p {
            align-self: center;
            justify-self: center;
        }
    }
    .indexSeccion3__imagen {
        display: flex;
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
    }
}

// Sección 4 - Testimonios

.preIndexSeccion4 {
    background-color: var(--mainBackgroundColor);
    .indexSeccion4 {
        margin-top: 2%;
        padding-bottom: 2%;
        .indexSeccion4__Testimonio1 {
            display: flex;
            flex-direction: column;
            border: 2px solid #EBBEE6;
            border-radius: 12px;
            div {
                img {
                    width: 100%;
                    border-radius: 12px;
                }
            }
        }
        .indexSeccion4__Testimonio2{
            display: flex;
            flex-direction: column;
            border: 2px solid #EBBEE6;
            border-radius: 12px;
            div {
                padding: 0.5%;
                img {
                    width: 100%;
                    border-radius: 12px;
                }
            }   
        }
    
        .indexSeccion4__Testimonio3{
            display: flex;
            flex-direction: column;
            border: 2px solid #EBBEE6;
            border-radius: 12px;
            div {
                padding: 0.5%;
                img {
                    width: 100%;
                    border-radius: 12px;
                }
            }
        }
        .indexSeccion4__Testimonio4{
            display: flex;
            flex-direction: column;
            border: 2px solid #EBBEE6;
            border-radius: 12px;
            div {
                padding: 0.5%;
                img {
                    width: 100%;
                    border-radius: 12px;
                }
            }
        }
    }
}


/* Seccion 5 -  (Carrusel)*/

.preIndexSeccion5{
    background: linear-gradient(180deg, var(--mainBackgroundColor) 73.18%, rgba(252, 246, 234, 0) 100%);
    .indexSeccion5 {
        .indexSeccion5__carrusel {
            width: 100%;
        }
        .indexSeccion5__descrip{
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    
    }
}


/* Seccion 6 - Contactanos*/
.indexSeccion6 {
    height: 400px;

    .indexSeccion6__General {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        width: 90%;
        margin:0 auto;
    }

    .indexSeccion6__Title {
        justify-self: center;
        align-self: center;
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
        box-shadow: var(--shadowParaTexto);
    }
    .indexSeccion6__Button {
        justify-self: center;
        align-self: center;
        margin-top: 1%;
        a {
            text-decoration: none;
            color: inherit;

        }
        .btn-default {
            background-color: #D952FF;
            color:#FFF;
            border-color: #2F3E48;
        }
        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            background-color: #A633B5;
            color:#FFF;
            border-color: #31347B;
        }
        .btn-lg {
            width: 200px;
            height: 50px;
        }
    }
}

@media (max-width: 768px) {
    .indexSeccion6{
        height: 200px;
        .indexSeccion6__General {
            height: inherit;
            a {
                p {
                    font-size: 16px;
                }
            }
            .btn-lg {
                width: 150px;
                height: 35px;
            }

        }   
    
    }

}

@media (max-width: 576px) {
    .indexIntro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .indexIntro__Imagen {
            img {
                width: 100%;
            }
        }
    }
    .indexSeccion2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .indexSeccion2__descrip {
            justify-self: center;
            align-self: center;

        }
        .indexSeccion2__imagen {
            img {
                width: 100%;
            }
        }
    }
    .indexSeccion3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        .indexSeccion3__descrip  {
            justify-self: center;
            align-self: center;
        }

        .indexSeccion3__imagen {
            img {
                width: 100%;
            }
        }
    }

    .preIndexSeccion4 {
        .indexSeccion4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            .indexSeccion4__Testimonio1 {
                img {
                    width: 100%;
                }
            }
            .indexSeccion4__Testimonio2{
                div {
                    img {
                        width: 100%;
                    }
                }   
            }     
            .indexSeccion4__Testimonio3{
                div {
                    img {
                        width: 100%;
                    }
                }
            }
            .indexSeccion4__Testimonio4{
                div {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
