.gridTestimonios {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-rows: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.videoTestimonio {
    width: auto;
    height: auto;
}