.introFaciales {
    margin-top: 2%;
    .introFaciales__titulo {
        display: flex;
        align-content: center;
        justify-content: center;
        border-right: 5px solid #FA93F0;
        h1 {
            align-self: center;
            ul {
                border-left: 5px solid #AE51B5;
            }
        }
    }
    .introFaciales__imagen {
        display: flex;
        img{
            width: 100%;
            border-radius: 12px;
            align-self: center;
            box-shadow: var(--shadowParaImagenes);
            border-radius: 12px;
        }
    }
}

.faciales__Uno {
    .faciales__Uno--imagen{
        display: flex;
        img {
            width: 100%;
            border-radius: 12px;
            align-self: center;
            box-shadow: var(--shadowParaImagenes);
        }
    }

    .faciales__Uno--descripcion {
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

.faciales__Dos {
    margin-top: 2%;
    .faciales__Dos--imagen{
        display: flex;
        img {
            width: 100%;
            border-radius: 12px;
            align-self: center;
            box-shadow: var(--shadowParaImagenes);
        }
    }
    .faciales__Dos--descripcion {
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

.faciales__Tres {
    margin-top: 2%;
    margin-bottom: 2%;
    .faciales__Tres--imagen {
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
    }
    .faciales__Tres--descripcion {
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {

    .introFaciales{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .faciales__Uno {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

    }

    .faciales__Dos {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    
    .faciales__Tres {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}