.gridTratamientos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // row-gap: 10px;
    // margin-top: 50px;
    // margin-bottom: 50px;
    width: 90%;
    margin:0 auto;
    
    .tratamientoUno{
        grid-column: span 2 / 4;

        .tratamientoUno--info {
            font-size: medium;
        }
    }

    .tratamientoDos {
        grid-column: span 2 / 4;
    }

    .tratamientoTres {
        grid-column: span 2 / 4;
    }
}

.fotosTratamientos {
    width: 3;
    height: 200px;
}