.introCorporales {
    margin-top: 2%;
    .introCorporales__titulo {
        display: flex;
        align-content: center;
        justify-content: center;
        border-right: 5px solid #FA93F0;
        h1 {
            align-self: center;
            justify-self: center;
            ul {
                border-left: 5px solid #AE51B5;
            }
        }
    }

    .introCorporales__imagen {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            box-shadow: var(--shadowParaImagenes);
            border-radius: 12px;
        }
        img:hover {
            opacity: 0.6;
          }
    }
}

.corporales__Uno {
    margin-top: 2%;
    .corporales__Uno--imagen {
        display: flex;
        align-content: center;
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
        img:hover {
            opacity: 0.6;
          }
    }
    .corporales__Uno--descripcion {
        justify-content: center;
        align-content: center;
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
    }
    .corporales__Uno--descripcion:hover {
        background-color:var(--FondoTextoHover);
    }
}

.corporales__Dos {
    margin-top: 2%;
    .corporales__Dos--imagen {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            justify-self: center;
            align-self: center;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
        img:hover {
            opacity: 0.6;
          }
    }
    .corporales__Dos--descripcion {
        justify-content: center;
        align-content: center;
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
    }
    .corporales__Dos--descripcion:hover {
        background-color:var(--FondoTextoHover);
    }
}

.corporales__tres {
    margin-top: 2%;
    margin-bottom: 2%;
    .corporales__tres--imagen {
        justify-self: flex-start;
        align-self: center;
        img {
            width: 100%;
            border-radius: 12px;
            box-shadow: var(--shadowParaImagenes);
        }
        img:hover {
            opacity: 0.6;
          }
    }
    .corporales__tres--descripcion {
        justify-content: center;
        align-content: center;
        box-shadow: var(--shadowParaTexto);
        border: 2px solid #FA93F0;
        border-radius: 12px;
        padding: 5px;
    }
    .corporales__tres--descripcion:hover {
        background-color:var(--FondoTextoHover);
    }
}

@media (max-width: 576px) {
    .introCorporales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .corporales__Uno {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .corporales__Dos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .corporales__tres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}