@charset "UTF-8";
/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Open Sans Condensed';
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%; }

h1 {
  font-size: 4vw;
  font-weight: 700; }

/* Cambiar el tamaño a los subtítulos */
h2 {
  font-size: 3vw; }

h3 {
  font-size: 2.5vw; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

p {
  font-size: 2vw; }

/*  Elimina formato de las listas del nav */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Modifica los links de la página*/
a {
  text-decoration: none;
  color: black; }

a:hover {
  background-color: #facff1; }

:root {
  --mainBackgroundColor: #FFE8F4;
  --shadowParaImagenes: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadowParaTexto:  6px 6px 4px rgba(185, 11, 167, 0.25);
  --colorFondoBotones: #D952FF;
  --colorBordeBotones: #2F3E48;
  --fondoHoverBotones: #A633B5;
  --bordeHoverBotones: #31347B;
  --FondoTextoHover: #ffd8fb; }

/* PARTIALS */
/* Color HEADER*/
header {
  height: 25%;
  background-color: #FFF5E1; }

.navLogo {
  background-size: 150px 137px;
  width: 9vw;
  background-color: transparent; }

/* Modificación a las listas con links */
.listasNav {
  padding: 10px;
  font-size: 1.5vw; }

/* Background transparente navbar*/
.dropdownBack {
  background-color: transparent;
  border: transparent;
  padding-left: 2px; }
  .dropdownBack a:hover {
    background-color: #facff1; }

@media (max-width: 768px) {
  .listasNav {
    padding: 2.5px; } }

@media (max-width: 576px) {
  .listasNav {
    font-size: 12px; }
  .navLogo {
    width: 50px; } }

footer {
  background-color: #FAE8CA;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 20px; }
  footer p {
    font-size: 16px; }

/* Estructura Footer */
.footerFlex .footerFlex__datos {
  display: flex;
  flex-direction: column;
  align-content: center; }

.footerFlex .footerFlex__enlaces {
  display: flex;
  flex-direction: column;
  align-content: center; }

.footerFlex .footerFlex__iconos {
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .footerFlex .footerFlex__iconos img {
    width: 3.5vw; }

@media (max-width: 768px) {
  footer p {
    font-size: 14px; } }

@media (max-width: 576px) {
  footer p {
    font-size: 12px; }
  .footerFlex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; } }

@media (max-width: 480px) {
  .footerFlex__iconos {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

/* PAGES */
/* Inicio secciones del Main */
/* Seccion 1 - Intro */
.indexIntro {
  margin-top: 2%; }
  .indexIntro .indexIntro__Slogan {
    display: flex;
    flex-direction: column;
    border-right: 5px solid #FA93F0; }
    .indexIntro .indexIntro__Slogan h1 {
      align-self: center;
      justify-self: center; }
    .indexIntro .indexIntro__Slogan p {
      align-self: center;
      justify-self: center; }
  .indexIntro .indexIntro__Imagen {
    display: flex; }
    .indexIntro .indexIntro__Imagen img {
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .indexIntro .indexIntro__Imagen img:hover {
      opacity: 0.6; }

.indexSeccion2 {
  margin-top: 2%; }
  .indexSeccion2 .indexSeccion2__imagen {
    display: flex; }
    .indexSeccion2 .indexSeccion2__imagen img {
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .indexSeccion2 .indexSeccion2__imagen img:hover {
      opacity: 0.6; }
  .indexSeccion2 .indexSeccion2__descrip {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    .indexSeccion2 .indexSeccion2__descrip h2 {
      align-self: center;
      justify-self: center; }
    .indexSeccion2 .indexSeccion2__descrip p {
      align-self: center;
      justify-self: center; }

.indexSeccion3 {
  margin-top: 2%; }
  .indexSeccion3 .indexSeccion3__descrip {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .indexSeccion3 .indexSeccion3__descrip h2 {
      align-self: center;
      justify-self: center; }
    .indexSeccion3 .indexSeccion3__descrip p {
      align-self: center;
      justify-self: center; }
  .indexSeccion3 .indexSeccion3__imagen {
    display: flex; }
    .indexSeccion3 .indexSeccion3__imagen img {
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .indexSeccion3 .indexSeccion3__imagen img:hover {
      opacity: 0.6; }

.preIndexSeccion4 {
  background-color: var(--mainBackgroundColor); }
  .preIndexSeccion4 .indexSeccion4 {
    margin-top: 2%;
    padding-bottom: 2%; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio1 {
      display: flex;
      flex-direction: column;
      border: 2px solid #EBBEE6;
      border-radius: 12px; }
      .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio1 div img {
        width: 100%;
        border-radius: 12px; }
      .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio1 div img:hover {
        opacity: 0.6; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio2 {
      display: flex;
      flex-direction: column;
      border: 2px solid #EBBEE6;
      border-radius: 12px; }
      .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio2 div {
        padding: 0.5%; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio2 div img {
          width: 100%;
          border-radius: 12px; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio2 div img:hover {
          opacity: 0.6; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio3 {
      display: flex;
      flex-direction: column;
      border: 2px solid #EBBEE6;
      border-radius: 12px; }
      .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio3 div {
        padding: 0.5%; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio3 div img {
          width: 100%;
          border-radius: 12px; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio3 div img:hover {
          opacity: 0.6; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio4 {
      display: flex;
      flex-direction: column;
      border: 2px solid #EBBEE6;
      border-radius: 12px; }
      .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio4 div {
        padding: 0.5%; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio4 div img {
          width: 100%;
          border-radius: 12px; }
        .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio4 div img:hover {
          opacity: 0.6; }

/* Seccion 5 -  (Carrusel)*/
.preIndexSeccion5 {
  background: linear-gradient(180deg, var(--mainBackgroundColor) 73.18%, rgba(252, 246, 234, 0) 100%); }
  .preIndexSeccion5 .indexSeccion5 .indexSeccion5__carrusel {
    width: 100%; }
  .preIndexSeccion5 .indexSeccion5 .indexSeccion5__descrip {
    display: flex;
    flex-direction: column;
    align-content: center; }

/* Seccion 6 - Contactanos*/
.indexSeccion6 {
  height: 400px; }
  .indexSeccion6 .indexSeccion6__General {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 90%;
    margin: 0 auto; }
  .indexSeccion6 .indexSeccion6__Title {
    justify-self: center;
    align-self: center;
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px;
    box-shadow: var(--shadowParaTexto); }
  .indexSeccion6 .indexSeccion6__Button {
    justify-self: center;
    align-self: center;
    margin-top: 1%; }
    .indexSeccion6 .indexSeccion6__Button a {
      text-decoration: none;
      color: inherit; }
    .indexSeccion6 .indexSeccion6__Button .btn-default {
      background-color: #D952FF;
      color: #FFF;
      border-color: #2F3E48; }
    .indexSeccion6 .indexSeccion6__Button .btn-default:hover, .indexSeccion6 .indexSeccion6__Button .btn-default:focus, .indexSeccion6 .indexSeccion6__Button .btn-default:active, .indexSeccion6 .indexSeccion6__Button .btn-default.active, .indexSeccion6 .indexSeccion6__Button .open .dropdown-toggle.btn-default {
      background-color: #A633B5;
      color: #FFF;
      border-color: #31347B; }
    .indexSeccion6 .indexSeccion6__Button .btn-lg {
      width: 200px;
      height: 50px; }

@media (max-width: 768px) {
  .indexSeccion6 {
    height: 200px; }
    .indexSeccion6 .indexSeccion6__General {
      height: inherit; }
      .indexSeccion6 .indexSeccion6__General a p {
        font-size: 16px; }
      .indexSeccion6 .indexSeccion6__General .btn-lg {
        width: 150px;
        height: 35px; } }

@media (max-width: 576px) {
  .indexIntro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .indexIntro .indexIntro__Imagen img {
      width: 100%; }
  .indexSeccion2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .indexSeccion2 .indexSeccion2__descrip {
      justify-self: center;
      align-self: center; }
    .indexSeccion2 .indexSeccion2__imagen img {
      width: 100%; }
  .indexSeccion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .indexSeccion3 .indexSeccion3__descrip {
      justify-self: center;
      align-self: center; }
    .indexSeccion3 .indexSeccion3__imagen img {
      width: 100%; }
  .preIndexSeccion4 .indexSeccion4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio1 img {
      width: 100%; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio2 div img {
      width: 100%; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio3 div img {
      width: 100%; }
    .preIndexSeccion4 .indexSeccion4 .indexSeccion4__Testimonio4 div img {
      width: 100%; } }

.tituloContacto {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 2px solid #FA93F0;
  border-radius: 12px;
  padding: 5px;
  box-shadow: var(--shadowParaTexto); }
  .tituloContacto h1 {
    text-align: center; }

.contacto {
  width: 50%;
  margin: 0 auto;
  font-size: medium;
  border: 2px solid #FA93F0;
  border-radius: 12px;
  padding: 5px;
  box-shadow: var(--shadowParaTexto);
  margin-bottom: 2%; }
  .contacto .contacto__botones {
    margin-top: 10px;
    margin-bottom: 20px; }
    .contacto .contacto__botones .btn-primary {
      background-color: var(--colorFondoBotones);
      color: #FFF;
      border-color: var(--colorBordeBotones); }
    .contacto .contacto__botones .btn-primary:hover, .contacto .contacto__botones .btn-primary:focus, .contacto .contacto__botones .btn-primary:active, .contacto .contacto__botones .btn-primary:active, .contacto .contacto__botones .open .dropdown-toggle.btn-primary {
      background-color: var(--fondoHoverBotones);
      color: #FFF;
      border-color: var(--bordeHoverBotones); }

@media (max-width: 768px) {
  .contacto {
    width: 90%; }
    .contacto .contacto__botones {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; }
  .tituloContacto {
    width: 90%; } }

.introNosotros {
  margin-top: 2%; }
  .introNosotros .introNosotros__mision {
    border-right: 5px solid #FA93F0; }
    .introNosotros .introNosotros__mision h6 {
      font-size: 18px; }
    .introNosotros .introNosotros__mision h1 {
      font-weight: 700; }
  .introNosotros .introNosotros__imagen img {
    width: 100%;
    box-shadow: var(--shadowParaImagenes);
    border-radius: 12px; }
  .introNosotros .introNosotros__imagen img:hover {
    opacity: 0.6; }

.nosotros__SeccionUno {
  margin-top: 2%; }
  .nosotros__SeccionUno .nosotros__SeccionUno--imagen img {
    width: 100%;
    box-shadow: var(--shadowParaImagenes);
    border-radius: 12px; }
  .nosotros__SeccionUno .nosotros__SeccionUno--imagen img:hover {
    opacity: 0.6; }
  .nosotros__SeccionUno .nosotros__SeccionUno--texto {
    justify-content: center;
    align-content: center;
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px; }
  .nosotros__SeccionUno .nosotros__SeccionUno--texto:hover {
    background-color: var(--FondoTextoHover); }

.nosotros__SeccionDos {
  margin-top: 2%; }
  .nosotros__SeccionDos .nosotros__SeccionDos--texto {
    align-content: center;
    justify-content: center;
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px; }
  .nosotros__SeccionDos .nosotros__SeccionDos--texto:hover {
    background-color: var(--FondoTextoHover); }
  .nosotros__SeccionDos .nosotros__SeccionDos--imagen img {
    width: 100%;
    box-shadow: var(--shadowParaImagenes);
    border-radius: 12px; }
  .nosotros__SeccionDos .nosotros__SeccionDos--imagen img:hover {
    opacity: 0.6; }

.nosotros__SeccionTres {
  background-color: var(--main-background-color); }
  .nosotros__SeccionTres .nosotros__SeccionTres--general {
    margin-top: 2%;
    margin-bottom: 2%; }
    .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--texto {
      align-content: center;
      justify-content: center;
      box-shadow: var(--shadowParaTexto);
      border: 2px solid #FA93F0;
      border-radius: 12px;
      padding: 5px; }
    .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--texto:hover {
      background-color: var(--FondoTextoHover); }
    .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--imagen {
      display: flex;
      flex-direction: column; }
      .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--imagen img {
        width: 100%;
        box-shadow: var(--shadowParaImagenes);
        margin-bottom: 1%;
        border-radius: 12px; }
      .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--imagen img:hover {
        opacity: 0.6; }
      .nosotros__SeccionTres .nosotros__SeccionTres--general .nosotros__SeccionTres--imagen h3 {
        justify-self: center;
        align-self: center; }

@media (max-width: 576px) {
  .introNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .introNosotros .introNosotros__mision h6 {
      font-size: 10px; }
  .nosotros__SeccionUno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .nosotros__SeccionDos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .nosotros__SeccionTres .nosotros__SeccionTres--general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; } }

.introCorporales {
  margin-top: 2%; }
  .introCorporales .introCorporales__titulo {
    display: flex;
    align-content: center;
    justify-content: center;
    border-right: 5px solid #FA93F0; }
    .introCorporales .introCorporales__titulo h1 {
      align-self: center;
      justify-self: center; }
      .introCorporales .introCorporales__titulo h1 ul {
        border-left: 5px solid #AE51B5; }
  .introCorporales .introCorporales__imagen {
    display: flex;
    justify-content: center; }
    .introCorporales .introCorporales__imagen img {
      width: 100%;
      box-shadow: var(--shadowParaImagenes);
      border-radius: 12px; }
    .introCorporales .introCorporales__imagen img:hover {
      opacity: 0.6; }

.corporales__Uno {
  margin-top: 2%; }
  .corporales__Uno .corporales__Uno--imagen {
    display: flex;
    align-content: center; }
    .corporales__Uno .corporales__Uno--imagen img {
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .corporales__Uno .corporales__Uno--imagen img:hover {
      opacity: 0.6; }
  .corporales__Uno .corporales__Uno--descripcion {
    justify-content: center;
    align-content: center;
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px; }
  .corporales__Uno .corporales__Uno--descripcion:hover {
    background-color: var(--FondoTextoHover); }

.corporales__Dos {
  margin-top: 2%; }
  .corporales__Dos .corporales__Dos--imagen {
    display: flex;
    justify-content: center; }
    .corporales__Dos .corporales__Dos--imagen img {
      width: 80%;
      justify-self: center;
      align-self: center;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .corporales__Dos .corporales__Dos--imagen img:hover {
      opacity: 0.6; }
  .corporales__Dos .corporales__Dos--descripcion {
    justify-content: center;
    align-content: center;
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px; }
  .corporales__Dos .corporales__Dos--descripcion:hover {
    background-color: var(--FondoTextoHover); }

.corporales__tres {
  margin-top: 2%;
  margin-bottom: 2%; }
  .corporales__tres .corporales__tres--imagen {
    justify-self: flex-start;
    align-self: center; }
    .corporales__tres .corporales__tres--imagen img {
      width: 100%;
      border-radius: 12px;
      box-shadow: var(--shadowParaImagenes); }
    .corporales__tres .corporales__tres--imagen img:hover {
      opacity: 0.6; }
  .corporales__tres .corporales__tres--descripcion {
    justify-content: center;
    align-content: center;
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px; }
  .corporales__tres .corporales__tres--descripcion:hover {
    background-color: var(--FondoTextoHover); }

@media (max-width: 576px) {
  .introCorporales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .corporales__Uno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .corporales__Dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .corporales__tres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; } }

.introFaciales {
  margin-top: 2%; }
  .introFaciales .introFaciales__titulo {
    display: flex;
    align-content: center;
    justify-content: center;
    border-right: 5px solid #FA93F0; }
    .introFaciales .introFaciales__titulo h1 {
      align-self: center; }
      .introFaciales .introFaciales__titulo h1 ul {
        border-left: 5px solid #AE51B5; }
  .introFaciales .introFaciales__imagen {
    display: flex; }
    .introFaciales .introFaciales__imagen img {
      width: 100%;
      border-radius: 12px;
      align-self: center;
      box-shadow: var(--shadowParaImagenes);
      border-radius: 12px; }
    .introFaciales .introFaciales__imagen img:hover {
      opacity: 0.6; }

.faciales__Uno .faciales__Uno--imagen {
  display: flex; }
  .faciales__Uno .faciales__Uno--imagen img {
    width: 100%;
    border-radius: 12px;
    align-self: center;
    box-shadow: var(--shadowParaImagenes); }
  .faciales__Uno .faciales__Uno--imagen img:hover {
    opacity: 0.6; }

.faciales__Uno .faciales__Uno--descripcion {
  box-shadow: var(--shadowParaTexto);
  border: 2px solid #FA93F0;
  border-radius: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.faciales__Uno .faciales__Uno--descripcion:hover {
  background-color: var(--FondoTextoHover); }

.faciales__Dos {
  margin-top: 2%; }
  .faciales__Dos .faciales__Dos--imagen {
    display: flex; }
    .faciales__Dos .faciales__Dos--imagen img {
      width: 100%;
      border-radius: 12px;
      align-self: center;
      box-shadow: var(--shadowParaImagenes); }
    .faciales__Dos .faciales__Dos--imagen img:hover {
      opacity: 0.6; }
  .faciales__Dos .faciales__Dos--descripcion {
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  .faciales__Dos .faciales__Dos--descripcion:hover {
    background-color: var(--FondoTextoHover); }

.faciales__Tres {
  margin-top: 2%;
  margin-bottom: 2%; }
  .faciales__Tres .faciales__Tres--imagen img {
    width: 100%;
    border-radius: 12px;
    box-shadow: var(--shadowParaImagenes); }
  .faciales__Tres .faciales__Tres--imagen img:hover {
    opacity: 0.6; }
  .faciales__Tres .faciales__Tres--descripcion {
    box-shadow: var(--shadowParaTexto);
    border: 2px solid #FA93F0;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  .faciales__Tres .faciales__Tres--descripcion:hover {
    background-color: var(--FondoTextoHover); }

@media (max-width: 576px) {
  .introFaciales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .faciales__Uno .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .faciales__Dos .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
  .faciales__Tres .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; } }

section .paginaDeError {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  section .paginaDeError img {
    width: 70%; }
  section .paginaDeError h2 {
    align-self: center;
    justify-self: center; }
