/* Color HEADER*/

header {
    height: 25%;
    background-color: #FFF5E1;
}

// Tamaño del isologotipo del emprendimiento
.navLogo {
    background-size: 150px 137px;
    width: 9vw;
    background-color: transparent;
}

/* Modificación a las listas con links */  
.listasNav {
    padding: 10px;
    font-size: 1.5vw;
}

/* Background transparente navbar*/
.dropdownBack {
    background-color: transparent;
    border: transparent;
    padding-left: 2px;
    
    a:hover {
        background-color: rgb(250, 207, 241);
    }
}

@media (max-width: 768px) {
    .listasNav {
        padding: 2.5px;
    }

}

@media (max-width: 576px) {
    .listasNav {
        font-size: 12px;
    }
    .navLogo {
        width: 50px;
    }
}